# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/norwoodj/helm-docs
    rev: v1.14.2
    hooks:
      - id: helm-docs-built
        args:
          # Comma separated list, no space
          - "--chart-to-generate=\
            delegation-program-leaderboard,\
            gpt-survey-summarizer,\
            kyc-management-app,\
            liminal-manual,\
            matterbridge-bot,\
            mina-archive,\
            mina-payout-reports,\
            mina-payouts-data-provider,\
            mina-staking-ledgers-exporter,\
            mina-transactions-generator,\
            on-chain-voting,\
            pgt-gov-bot,\
            pgt-leader-bot,\
            redisinsight,\
            submission-report,\
            uptime-service-backend"

          # The `./` makes it relative to the chart-search-root
          - --template-files=./README.md.gotmpl

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        files: mina-archive
