# Default values for gpt-survey-summarizer.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

platform:
  name: sandbox

config:
  # -- Summarize Frequency Seconds
  summarizeFrequencySeconds: 3600
  # -- Openai API Key
  openAiApiKey: "" 
  discord:
    # -- Discord Application ID
    clientId: ""
    # -- Discord Guild/Server ID
    guildId: ""
    # -- Discord API Token
    token: ""

redis:
  # -- The redis architecture (accepted values are: standalone, replication)
  architecture: standalone
  auth:
    # -- Redis password
    password: ""
  # -- Configuration to add to redis.conf
  commonConfiguration: |-
    # Enable AOF https://redis.io/topics/persistence#append-only-file
    appendonly yes
    #
    # Backups:
    # * After 14400 seconds (4 hours) if at least 1 change was performed
    # * After 3600 seconds (1 hour) if at least 100 changes were performed
    # * After 600 seconds (10 minutes) if at least 10.000 changes were performed
    # 
    save 14400 1 3600 100 600 10000
    # Workdir of redis
    dir /data
    # Database file name
    dbfilename dump.rdb

databaseDumpExporter:
  # -- Whether to enable exporting of the database dump
  enabled: true
  # -- Suspend the automatic execution
  suspended: false
  # -- Time To Live after job finished in seconds
  ttlSecondsAfterFinished: 3600
  # -- Full name of the S3 bucket for backups
  s3Bucket: "673156464838-gpt-survey-summarizer-backups"
  # -- Schedule of the automated exporter in crontab notation
  schedule: "@daily"
  # -- Annotations to add to the cronjob serviceAccount
  serviceAccountAnnotations: {}

image:
  # -- The repository of the image
  repository: 673156464838.dkr.ecr.us-west-2.amazonaws.com/gpt-survey-summarizer
  # -- The pullPolicy used when pulling the image
  pullPolicy: IfNotPresent
  # -- The tag of the iamge. Overrides the image tag whose default is the chart appVersion.
  tag: "0.2.0-4a6bee4"

bot:
  # -- The number of pods to be deployed for bot
  replicaCount: 1
  # -- Arguments for the bot container
  args:
    - bot
  # -- Extra Environment Variables
  extraEnvVars: []
  # -- Annotations for the bot serviceAccount
  serviceAccountAnnotations: {}

server:
  # -- The number of pods to be deployed for server
  replicaCount: 1
  # -- Arguments for the server container
  args:
    - summarizer
  # -- Extra Environment Variables
  extraEnvVars: [] 
  # -- Annotations for the summarizer serviceAccount
  serviceAccountAnnotations: {}

# -- The secrets used to pull the image
imagePullSecrets: []
# -- The release name override
nameOverride: ""
# -- The full release name override
fullnameOverride: ""

# -- Annotations to add to deployments
deploymentAnnotations: {}

# -- Annotations to add to the pods
podAnnotations: {}

# -- SecurityContext used for the pods
podSecurityContext: {}
  # fsGroup: 2000

# -- SecurityContext
securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

# -- Resource limitations for the pods
resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

serviceAccount:
  # -- Specifies whether a service account should be created
  create: true
  # -- The name of the service account to use. If not set and create is true, a name is generated using the fullname template
  name: ""

# -- Node selector labels
nodeSelector: {}

# -- Tolerations
tolerations: []

# -- Affinity rules
affinity: {}
