apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "pgt-gov-bot.fullname" . }}-bot
  {{- with .Values.bot.deploymentAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  labels:
    {{- include "pgt-gov-bot.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app.kubernetes.io/component: bot
      {{- include "pgt-gov-bot.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.bot.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        app.kubernetes.io/component: bot
        {{- include "pgt-gov-bot.labels" . | nindent 8 }}
        {{- with .Values.bot.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.bot.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "pgt-gov-bot.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.bot.image.repository }}:{{ .Values.bot.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.bot.image.pullPolicy }}
          env:
            - name: DISCORD_TOKEN
              valueFrom:
                secretKeyRef:
                  name: {{ include "pgt-gov-bot.fullname" . }}
                  key: discordToken
            - name: CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: {{ include "pgt-gov-bot.fullname" . }}
                  key: discordClientId
            - name: GUILD_ID
              valueFrom:
                secretKeyRef:
                  name: {{ include "pgt-gov-bot.fullname" . }}
                  key: discordGuildId
            - name: DB_STORAGE
              value: /data/database.sqlite
          livenessProbe:
            {{- toYaml .Values.bot.livenessProbe | nindent 12 }}
          readinessProbe:
            {{- toYaml .Values.bot.readinessProbe | nindent 12 }}
          resources:
            {{- toYaml .Values.bot.resources | nindent 12 }}
          ports:
            - name: http
              containerPort: 3000
              protocol: TCP
          volumeMounts:
            - name: database-data
              mountPath: /data/
          {{- with .Values.volumeMounts }}
            {{- toYaml . | nindent 12 }}
          {{- end }}
      volumes:
      {{- if .Values.persistence.enabled }}
        - name: database-data
          persistentVolumeClaim:
            claimName: {{ include "pgt-gov-bot.fullname" . }}-database
      {{ end }}
      {{- with .Values.volumes }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
