---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
  labels:
    app: {{ .Release.Name }}
spec:
  replicas: {{ .Values.archive.replicas }}
  selector:
    matchLabels:
      app: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}
        testnet: {{ .Values.archive.testnet }}
        role: archive
      annotations:
      {{- with .Values.podAnnotations }}
      {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.archive.metrics.enabled }}
        prometheus.io/scrape: 'true'
        prometheus.io/port: {{ .Values.archive.metrics.port | quote }}
        prometheus.io/path: '/metrics'
      {{- end }}
    spec:
      serviceAccountName: {{ .Release.Name }}
      containers:
        # Archive Process
        - name: archive
          resources:
            limits:
              memory: {{ .Values.resource.memoryLimit }}
              cpu: {{ .Values.resource.cpuLimit }}
            requests:
              memory: {{ .Values.resource.memoryRequest }}
              cpu: {{ .Values.resource.cpuRequest }}
          image: {{ .Values.archive.image }}
          args: [
            "mina-archive",
            "run",
            {{- if .Values.archive.metrics.enabled }}
            "-metrics-port", "{{ .Values.archive.metrics.port }}",
            {{- end }}
            "-postgres-uri", "{{ tpl .Values.archive.postgresUri . }}",
            {{- if .Values.archive.runtimeConfig }}
            "-config-file", "/config/daemon.json",
            {{- end }}
            "-server-port", "{{ .Values.archive.ports.server }}"
          ]
          env:
          imagePullPolicy: Always
          {{- if .Values.archive.runtimeConfig }}
          volumeMounts:
            - name: {{ .Release.Name }}-runtime-config
              mountPath: "/config/"
          {{- end }}
          ports:
            - name: archive-port
              protocol: TCP
              containerPort: {{ .Values.archive.ports.server }}
            {{- if .Values.archive.metrics.enabled }}
            - name: metrics-port
              protocol: TCP
              containerPort: {{ .Values.archive.metrics.port }}
            {{- end }}
{{- $postgresHost := tpl .Values.archive.postgresHost . }}
{{- $data := dict "postgresHost" $postgresHost "healthcheck" $.Values.healthcheck }}
{{- include "healthcheck.archive.allChecks" $data | indent 10 }}
      volumes:
        - name: {{ .Release.Name }}-config-dir
          emptyDir: {}
        {{- if .Values.archive.runtimeConfig }}
        - name: {{ .Release.Name }}-runtime-config
          configMap:
            name: {{ .Release.Name }}-runtime-config
        {{- end }}
