archive:
  testnet:
  replicas: 1
  image:
  runtimeConfig:
  # `remoteSchemaFile` needs to be just the script name, not a url.  `remoteSchemaAuxFiles` needs to be a list of urls of sqls, one of these urls needs to be the url of the main sql script that invokes the other ones.
  remoteSchemaFile: "create_schema.sql"
  remoteSchemaAuxFiles: []
  postgresHost:  '{{ .Release.Name }}-postgresql'
  postgresUri: postgres://{{ .Values.postgresql.auth.username }}:{{ .Values.postgresql.auth.password }}@{{ tpl .Values.archive.postgresHost . }}:{{ .Values.archive.ports.postgres }}/{{ .Values.postgresql.auth.database }}
  metrics:
    enabled: false
    port: 10002
  ports:
    server: 3086
    postgres: 5432
  enablePostgresDB: true
  dumpCronjob:
    enabled: false
    s3Bucket: 673156464838-mina-archive-node-backups
  bootstrapDB: true
  bootstrapDBAnnotations: {}
  initFromDump:
    enabled: false
    archiveDumpURL: https://storage.googleapis.com/mina-archive-dumps
  missingBlocksGuardian:
    enabled: false
    precomputedBlocksURL: https://storage.googleapis.com/mina_network_block_data
    waitTime: 1800  # 30 minutes
  service:
    labels: {}
    annotations: {}

resource:
  memoryRequest: "6.0Gi"
  cpuRequest: "3"
  memoryLimit: "8.0Gi"
  cpuLimit: "4"

postgresql:
  global:
    storageClass: ebs-gp3-encrypted
  primary:
    name: "archive"
    persistence:
      enabled: false
      size: 8Gi
    initdb:
      user: "mina"
      password: "zo3moong7moog4Iep7eNgo3iecaesahH"
  auth:
    username: "mina"
    password: "zo3moong7moog4Iep7eNgo3iecaesahH"
    database: "archive"
    enablePostgresUser: false

nodeSelector:
  preemptible: true

serviceAccount:
  annotations: {}

podAnnotations: {}

healthcheck:
  enabled: true
  startup:
    periodSeconds: 30
    failureThreshold: 10
  failureThreshold: 5
  periodSeconds: 5
  initialDelaySeconds: 10
  timeoutSeconds: 10
