apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "gpt-survey-summarizer.fullname" . }}-server
  labels:
    {{- include "gpt-survey-summarizer.labels" . | nindent 4 }}-server
  {{- with .Values.deploymentAnnotations }}
  annotations:
    {{- toYaml . | nindent 8 }}
  {{- end }}
spec:
  replicas: {{ .Values.server.replicaCount }}
  selector:
    matchLabels:
      {{- include "gpt-survey-summarizer.selectorLabels" . | nindent 6 }}-server
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "gpt-survey-summarizer.selectorLabels" . | nindent 8 }}-server
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "gpt-survey-summarizer.serviceAccountName" . }}-server
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: server
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args:
            {{- toYaml .Values.server.args | nindent 12 }}
          env:
            - name: OPENAI_API_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ include "gpt-survey-summarizer.fullname" . }}
                  key: openAiApiKey
            # WARN: `REDIS_URL` is a deprecated environment variable
            - name: REDIS_URL
              valueFrom:
                secretKeyRef:
                  key: redisUrl
                  name: gpt-survey-summarizer-01
            - name: REDIS_HOST
              value: {{ include "gpt-survey-summarizer.fullname" . }}-redis-master
            - name: REDIS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "gpt-survey-summarizer.fullname" . }}
                  key: redisPassword
            - name: REDIS_PORT
              value: {{ .Values.redis.master.service.ports.redis | quote }}
            - name: SUMMARIZE_FREQUENCY_SECONDS
              value: {{ .Values.config.summarizeFrequencySeconds | quote }}
          {{- if .Values.server.extraEnvVars }}
            {{- toYaml .Values.server.extraEnvVars | nindent 12 }}
          {{- end }}
          {{- with .Values.ports }}
          ports:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.livenessProbe }}
          livenessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.readinessProbe }}
          readinessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
