deployment:
  testnet: "berkeley"
  image: minaprotocol/mina-daemon:1.3.2beta2-release-2.0.0-05c2f73-bulseye-berkeley
  runtimeConfig:
  customEntrypoint:
    enabled: true
    entrypoint: "mina"
  peerListURL: "https://storage.googleapis.com/seed-lists/berkeley_seeds.txt"
  uptime:
    enabled: false
    url:
  seedPeers:
    - /dns4/seed-1.berkeley.o1test.net/tcp/10000/p2p/12D3KooWAdgYL6hv18M3iDBdaK1dRygPivSfAfBNDzie6YqydVbs
    - /dns4/seed-2.berkeley.o1test.net/tcp/10001/p2p/12D3KooWLjs54xHzVmMmGYb7W5RVibqbwD1co7M2ZMfPgPm7iAag
    - /dns4/seed-3.berkeley.o1test.net/tcp/10002/p2p/12D3KooWEiGVAFC7curXWXiGZyMWnZK9h8BKr88U8D5PKV3dXciv
  storeBlocks:
    enabled: false
    filename: precomputed_blocks.json
    directory: /blocks
    storageClass:
    sizePVC: 5Gi

node:
  name: "berkeley-node"
  class: "seed"
  role: "staging"
  replicas: 1
  fullname: "berkeley-node"
  loadBalancer:
    enabled: false
    ip: "auto"
  exposeGraphql: false
  exposeP2P:
  seedFlags: true
  logLevel: Info
  fileLogLevel: Error
  maxConnections: 200
  metrics:
    enabled: false
    port: 10001
  ports:
    client: 8301
    graphql: 3085
    p2p: 10801
  statsUrl:
  errorsUrl:
  archive:
    enabled: false
    address: staging-berkeley-archive:3086
  libp2pKeys:
    enabled: true
  walletKeys:
    enabled: false
  daemonMode:
    blockProducer: false
    snarkWorker: false
    coordinator: false
    seed: false
  secrets:
    walletPassword: ""
    libp2pPassword: ""
    walletKey: ""
    walletPub: ""
    discoveryLibp2p: ""
    discoveryLibp2pPeerid: ""

serviceAccount:
  annotations: {}

requests:
  memory: "16.0Gi"
  cpu: "4"

healthcheck:
  enabled: true
  startup:
    periodSeconds: 30
    failureThreshold: 30
  failureThreshold: 10
  periodSeconds: 5
  initialDelaySeconds: 10
  timeoutSeconds: 60
